/* Centering the container using flex on the body */
.reset-container {
    position: absolute;
    top: 20vh;
    left: 40vw;
    width: 300px;
    padding: 20px;
    background-color: #363333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reset-container h2 {
    color: #fff;
  }
  
  .reset-container input[type="email"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border: 1px solid #060606;
    border-radius: 4px;
  }
  
  .reset-container button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #353434;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reset-container button:hover {
    background-color: #204c23;
  }
  
  .reset-container .error {
    color: red;
    margin-top: 10px;
  }
  
  .reset-container .success {
    color: green;
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Responsive adjustments */
  @media only screen and (max-width: 600px) {
    .reset-container {
      width: 100%;
      padding: 10px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .reset-container {
      width: 90%;
      padding: 5px;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .reset-container {
      width: 80%;
      padding: 3px;
    }
  }
  