/* src/components/verify.css */
.verify-container {
  position: absolute;
  top: 25vh;
  left: 40vw;
  width: 300px;
  padding: 20px;
  background-color: #363333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  .verify-container h2 {
    color: #fff;
  }
  
  .verify-container input {
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border: 1px solid #060606;
    border-radius: 4px;
  }
  
  .verify-container button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #353434;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .verify-container button:hover {
    background-color: #204c23;
  }
  
  .success {
    color: green;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }

  /* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .forgot-password-container {
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .forgot-password-container {
    width: 90%;
    padding: 5px;
  }
}

@media only screen and (max-width: 300px) {
  .forgot-password-container {
    width: 80%;
    padding: 3px;
  }
}

  